body img {
    width: 300px;
    height: 100px;
}

a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}


header img {
    width: 500px;
    height: 400px;
    margin-left: 450px;
}

nav {
    margin-left: 1100px;
}